.pager ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pager .pager__item-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: var(--color-primary);
    color: #ffffff;
    border-radius: 6px;
    z-index: 20;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
}