/* slider */

/* BANNER */
.slider-section-left {
  //background-color: #d9dfef;
}

@media (min-width: 768px) {
  .slider-section-left {
    flex: calc(70% - 1rem);
    max-width: calc(70% - 1rem);
    min-height: 400px;
  }

  .slider-item {
    min-height: 400px;
  }

  .slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Если нужно — добавьте align-items: center; для горизонтального центрирования */
  }

  .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ← оставьте ТОЛЬКО cover или fill, но не оба! */
    object-position: center;
  }
}
