.region-sidebar-first,
.region-sidebar-second {
  display: flex;
  flex-direction: column;
}
.region-sidebar-second {
  gap: 2rem;
}
.sidebar .block {
  //color: var(--light-primary);
  a {
    //color: var(--light-primary);
  }
  .block-title {
    //color: var(--light-primary);
  }
  @media (min-width: 1024px) {
    //color: var(--text-color);
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 24px;
    a {
      //color: var(--dark);
    }
    .block-title {
      //color: var(--dark);
    }
  }
}
.sidebar .block p:last-of-type,
.sidebar .block form:last-of-type {
  margin: 0;
}
/* form in sidebar */
.sidebar form,
.sidebar .form-search,
.sidebar .form-item,
.sidebar select {
  width: 100%;
}
/* sidebar typography */
.sidebar a {
  color: var(--dark);
}
.sidebar a:hover {
  color: var(--color-secondary);
}
.sidebar li {
  position: relative;
  padding: 8px 0;
  //border-bottom: 1px solid var(--text-color-light);
}
.sidebar ul ul {
  padding-left: 0.5rem;
}
.sidebar li:last-child {
  border: 0;
}

.block-region.region-sidebar-first-2 {
  display: grid;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}